<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="Bit0" value="https://bit0.pkgs.visualstudio.com/_packaging/Bit0/nuget/v3/index.json" />
    <add key="natemcmaster" value="https://www.myget.org/F/natemcmaster/api/v3/index.json" />
    <!--<add key="local" value=".\packages" />-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>